.alert {
  position: fixed;
  top: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  opacity: 0;
  transition: opacity linear 0.4s;
  font-size: 12px;
  padding: 6px 10px;
  word-wrap: break-word;
  .close {
    margin-top: -2px;
    margin-right: -2px;
  }
  &.show-true {
    z-index: 99999999;
    opacity: 1;
  }
  &.alert-danger {
    background-color: $danger-bg-color;
    border: 1px solid $danger-border-color;
    color: $danger-font-color;
  }
  &.alert-success {
    background-color: $success-bg-color;
    border: 1px solid $success-border-color;
    color: $success-font-color;
  }
}

.panel {
  border-color: $border-color;
  .panel-heading {
    border-color: $border-color;
    text-transform: uppercase;
    i {
      margin-right: 4px;
    }
  } 
}

.breadcrumb {
  @include border-radius(0px);
  border-bottom: 1px solid $border-color;
  margin-bottom: 0px;
}