@import 'fonts';

$font: 'open_sans_regular', sans-serif;
$font-bold: 'open_sans_bold', sans-serif;
$font-xbold: 'open_sans_extra_bold', sans-serif;
$font-light: 'open_sans_light', sans-serif;
$font-italic: 'open_sans_italic', sans-serif;

/* Colours */
$bg-color: #E3E3E3;
$border-color: #ccc;
$blue: #27AAE1;

$sidebar-width: 110px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-tl-bl($radius) {
     -webkit-border-top-left-radius: $radius;
         -moz-border-radius-topleft: $radius;
             border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
      -moz-border-radius-bottomleft: $radius;
          border-bottom-left-radius: $radius;
}

@mixin border-radius-bl($radius) {
  -webkit-border-bottom-left-radius: $radius;
      -moz-border-radius-bottomleft: $radius;
          border-bottom-left-radius: $radius;
}