.input-icon-left {
  position: relative;
  input {
    height: auto;
    padding: 10px 10px 10px 30px;
  }
  .glyphicon {
    position: absolute;
    padding: 13px 12px;
    pointer-events: none;
    color: #C2C2C2;
  }
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  background-image: none;
  &.alert-danger {
    background-color: #FEF1F1;
    border: 1px solid #E2A8A8;
    color: #D46D6D;
  }
  &.alert-success {
    background-color: #E8F7ED;
    border: 1px solid #30B661;
    color: #1BA84E;
  }
}

.panel {
  border-color: #ccc;
  .panel-heading {
    color: #999;
    background-image: none;
    border-color: #ccc;
    text-transform: uppercase;
    i {
      margin-right: 4px;
    }
  } 
}

.breadcrumb {
  background-color: #FAFAFA;
  @include border-radius(0px);
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}

.well {
  background-image: none;
}

.spinner {
  margin: 20px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}