@media (max-width: 767px) {
  #sidebar {
    display: none;
  }
  .page-content {
    left: 0;
    border: none;
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  }
}