$font-color: #5E5E5E;

#sidebar {
  width: $sidebar-width;
  .nav {
    padding-top: 20px;
    li {
      a {
        color: $font-color;
        text-align: center;
        font-size: 11px;
        margin-left: 8px;
        padding: 13px 15px;
        &:hover {
          background-color: transparent;
          .fa {
            color: $blue;
          }
        }
        .fa {
          font-size: 23px;
        }
      }
      &.active {
        a {
          background-color: #fff; 
          width: $sidebar-width - 7px;
          @include border-radius(0px);
          @include border-radius-tl-bl(4px);
          border: 1px solid $border-color;
          border-right-color: transparent;
          z-index: 2;
          padding: 12px 15px 12px 14px;
          -webkit-box-shadow: -4px 2px 2px 2px rgba(0, 0, 0, 0.03);
             -moz-box-shadow: -4px 2px 2px 2px rgba(0, 0, 0, 0.03);
                  box-shadow: -4px 2px 2px 2px rgba(0, 0, 0, 0.03);
          &:hover {
            .fa {
              color: $font-color;
            }
          }
        }
      }
    }
  }
}