#users {

  #users-panel {
    .panel-heading {
      position: relative;
      #new-user-btn {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
    .panel-body {
      padding: 0;
      
      .nav {
        li {
          a {

            &:not(.last) {
              border-bottom: 1px solid #DDDDDD;
              margin-bottom: -2px;
            }

            line-height: 24px;
            color: $font-color;
            @include border-radius(0px);

            &:hover {
              background-color: transparent;
              .dot {
                background-color: $blue;
              }
            }

            div {
              display: inline-block;
              vertical-align: top;
              margin-right: -4px;
            }

            position: relative;

            .dot {
              @include border-radius(100%);
              height: 16px;
              width: 16px;
              background-color: #ccc;
              border: 4px solid #fff;
              position: absolute;
              top: 14px;
              left: -8px;
            }

          }
        }
      }
    }

    form {
      padding: 10px;
      background-color: #FAFAFA;
      border-bottom: 1px solid #DDDDDD;
    }
  }
}