@import 'fonts';

/* Fonts */
$font: 'open_sans_regular', sans-serif;
$font-bold: 'open_sans_bold', sans-serif;
$font-xbold: 'open_sans_extra_bold', sans-serif;
$font-light: 'open_sans_light', sans-serif;
$font-italic: 'open_sans_italic', sans-serif;

/* Colours */
$body-bg-color: #F0F0F0;
$page-content-bg-color: #FFFFFF;
$border-color: #CCCCCC;
$blue: #66AFE9;
$danger-border-color: #E2A8A8;
$danger-bg-color: #FEF1F1;
$danger-font-color: #D46D6D;
$success-border-color: #30B661;
$success-bg-color: #E8F7ED;
$success-font-color: #1BA84E;

$sidebar-width: 104px;

/* forms */
$form-control-padding: 10px;
$form-control-icon-color: #C2C2C2;