html {
  overflow-y: scroll;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";
@import 'sass-bootstrap/lib/bootstrap';

@import 'mixins';
@import 'variables';
@import 'page-elements';
@import 'bs-override';
@import 'forms';
@import 'animations';
@import 'login';
@import 'navbar';
@import 'sidebar';
@import 'users';
@import 'media';
@import 'multiselect';
@import 'conquer';
@import 'ng-grid';
