<div id="search">
  <ol class="breadcrumb">
    <li class="active">search</li>
  </ol> <!-- /.breadcrumb -->
  <div class="view-container">
    <div ng-switch="loading">
      <div ng-switch-when="true" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div ng-switch-when="false">
        <!-- Place everything you want to mask by the loading animation here -->
        <div id="search-panel" class="panel panel-default" ng-controller="searchCtrl">
          <div class="panel-heading">
            <i class="fa fa-search"></i> Search Options
          <span ng-click="togglePanel(panelState=!panelState)" class="pull-right glyphicon {{displayIcon}} pointer"></span>
          </div>
          <div class="panel-body" ng-hide="panelState">

            <form role="form">
              <label class="hidden" data-ng-repeat="item in items">
                <input type="radio" name="some-name" ng-model="$parent.name" ng-value="item" />{{item.type}}
              </label>
              <div class="btn-group">
                <button  data-ng-repeat="item in items" class="btn btn-default" ng-click=selectItem(item)>{{item.type}}</button>
              </div>

              <h3>{{type}}</h3>
              <p>{{description}}</p>

              <p>
              <div class="input-group custom-search-form">
                <input type="text" placeholder="Enter search" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
              </p>


              <p>
              <div class="input-group custom-search-form">
                <input type="text" placeholder="Enter Postcode"  class="form-control">
                <span class="input-group-btn">
                  <div class="btn btn-default">
                    <span class="glyphicon glyphicon-map-marker"></span>
                  </div>
                </span>
              </div><!-- /input-group -->
              </p>

              <p>
              <div class="input-group">
                <input type="text" placeholder="Select Distance" class="form-control" value="{{range}}">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Miles <span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right">
                    <li><a ng-click="range=1">Within 1 Mile</a></li>
                    <li><a ng-click="range=5">Within 5 Miles</a></li>
                    <li><a ng-click="range=10">Within 10 Miles</a></li>
                    <li><a ng-click="range=25">Within 25 Miles</a></li>
                    <li><a ng-click="range=50">Within 50 Miles</a></li>
                    <li><a ng-click="range=100">Within 100 Miles</a></li>
                    <li><a ng-click="range=500">Nationwide</a></li>
                  </ul>
                </div>

              </div>

              </p>
              <p style="height:40px">
                <button class="btn pull-left animate-show" type="button" name="submit">Search</button>
                <a ng-click="showAdvanced = !showAdvanced" class="pull-right">Advanced Filter</a></p>

              <div class="clearfix"></div>

              <div id="advanced-form" ng-show="showAdvanced" class="check-element animate-show" bg-controller="filterSelects">

                <p>
                  <label>{{selectOneTitle}}</label>
                  <select class="form-control" ng-options="opt.name for opt in selectOne" multiple="true" ng-multiple="true" ng-model="search.selectedOne">
                  </select>
                </p>

                <p>
                  <label>{{selectTwoTitle}}</label>
                  <select class="form-control" ng-options="opt.name for opt in selectTwo" multiple="true" ng-multiple="true" ng-model="search.selectedTwo">
                  </select>
                </p>

                <p>
                  <label>{{selectThreeTitle}}</label>
                  <select class="form-control" ng-options="opt.name for opt in selectThree" multiple="true" ng-multiple="true" ng-model="search.selectedThree">
                  </select>
                </p>
                <p><button class="btn pull-left" type="button" name="submit">Search</button></p>
            </form>

          </div> <!-- /.panel-body -->

        </div> <!-- /#users-panel -->

      </div> <!-- end of loading animation mask -->

      <div id="results-panel" class="panel panel-default" ng-controller="resultsCtrl">

        <div class="panel-heading">
          <i class="fa fa-search"></i> Search Results <span ng-click="togglePanel(panelState=!panelState)" class="pull-right glyphicon {{displayIcon}} pointer"></span>
        </div>
        <div class="panel-body" ng-show="panelState">
          <div class="list-group">
            <a class="list-group-item" ng-repeat="record in records| filter:searchFilter | filter:filterByRole">
              <span style="float:left; padding-right:10px">
                <img src="/images/no_logo.jpg" />
              </span>

              <span style="display:inline">
                <h4>{{record.name}}</h4>
                <p>{{record.description}}</p>
              </span>
              <span class="badge">{{record.id}}</span>
              <div style="clear:both"></div>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div> <!-- /.view-container -->
</div> <!-- /#users -->