<div id="users">
  <ol class="breadcrumb">
    <li class="active">Users</li>
  </ol> <!-- /.breadcrumb -->
  <div class="view-container">
    <div ng-switch="loading">
      <div ng-switch-when="true" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div ng-switch-when="false">
        <!-- Place everything you want to mask by the loading animation here -->
        <div id="users-panel" class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-users"></i> System Users
            <button id="new-user-btn" class="btn btn-sm btn-info" has-permission="create_user" ng-click="go('createuser');">
              <i class="fa fa-plus"></i> Create user
            </button>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="input-icon-left">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
              </div>
              <div class="radio" ng-repeat="role in roles">
                <label>
                  <input type="radio" value="{{role}}" ng-model="filterRole.selected"> {{role}}
                </label>
              </div>
            </form>
            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="user in users| filter:searchFilter | filter:filterByRole">
                <a href="#" ng-class="{'last' : $last}">
                  <div class="dot"></div>
                  <div class="name">
                    {{user.first_name}} {{user.last_name}}
                  </div>
                  <div class="label label-default pull-right">{{user.role}}</div>
                </a>
              </li>
            </ul>
          </div> <!-- /.panel-body -->
        </div> <!-- /#users-panel -->
      </div> <!-- end of loading animation mask -->
    </div>
  </div> <!-- /.view-container -->
</div> <!-- /#users -->